<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.smartbuilders.synchronizer.ids">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".SettingsActivity"
            android:icon="@android:drawable/ic_menu_preferences"
            android:label="@string/action_settings" />
        <activity
            android:name=".SchedulerManagerActivity"
            android:label="@string/title_activity_scheduler_manager" >
        </activity>
        <activity
            android:name=".AboutActivity"
            android:label="@string/title_activity_about" >
        </activity>
        <activity
            android:name=".SQLConsoleActivity"
            android:label="@string/title_activity_sqlconsole"
            android:windowSoftInputMode="adjustNothing" >
        </activity>
        <activity
            android:name=".NotificationsManagerActivity"
            android:label="@string/title_activity_notifications_manager" >
        </activity>

    </application>

</manifest>
