<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.smartbuilders.smartsales.bluetoothchat">

    <!-- Min/target SDK versions (<uses-sdk>) managed by build.gradle -->

    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>

    <application android:allowBackup="true" android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name="com.smartbuilders.smartsales.bluetoothchat.ChatActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_name" />

        <activity
            android:name="com.smartbuilders.smartsales.bluetoothchat.DeviceListActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/select_device"/>

    </application>

</manifest>
