<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.smartbuilders.smartsales.ecommerceandroidapp.febeca">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.READ_SYNC_STATS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="com.smartbuilders.smartsales.ecommerceandroidapp.permission.C2D_MESSAGE" />

    <permission
        android:name="com.smartbuilders.smartsales.ecommerceandroidapp.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <application
        android:name="android.support.multidex.MultiDexApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name="com.smartbuilders.smartsales.ecommerceandroidapp.SplashScreen"
            android:theme="@style/SplashTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.smartbuilders.smartsales.ecommerceandroidapp.MainActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:host="@string/company_host_name" />
                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:pathPattern="/.*" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.smartbuilders.smartsales.ecommerceandroidapp.ProductsListActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.smartbuilders.smartsales.ecommerceandroidapp.ProductDetailActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.jasgcorp.ids.AuthenticatorActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden" />

        <provider
            android:name="com.smartbuilders.smartsales.ecommerceandroidapp.providers.CachedFileProvider"
            android:authorities="com.smartbuilders.smartsales.ecommerceandroidapp.providers.CachedFileProvider"
            android:exported="true"
            android:multiprocess="true" />
        <provider
            android:name="com.jasgcorp.ids.providers.DataBaseContentProvider"
            android:authorities="com.smartbuilders.smartsales.providers.Syncadapter"
            android:exported="false"
            android:syncable="true"
            tools:ignore="ExportedContentProvider" />
        <provider
            android:name="com.jasgcorp.ids.providers.SynchronizerContentProvider"
            android:authorities="com.smartbuilders.smartsales.providers.SynchronizerContentProvider"
            android:exported="false"
            android:syncable="true"
            tools:ignore="ExportedContentProvider" />

        <service android:name="com.jasgcorp.ids.syncadapter.authenticator.AuthenticatorService">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>

            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" />
        </service>
        <service
            android:name="com.jasgcorp.ids.syncadapter.SyncService"
            android:exported="true"
            android:process=":sync">
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>

            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/syncadapter" />
        </service>

        <receiver
            android:name="com.jasgcorp.ids.gcm.GcmBroadcastReceiver"
            android:enabled="true"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <!-- <action android:name="com.google.android.c2dm.intent.REGISTRATION" /> -->

                <category android:name="com.smartbuilders.smartsales.ecommerceandroidapp" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.jasgcorp.ids.system.broadcastreceivers.AlarmReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="com.jasgcorp.ids.scheduler.AlarmReceiver.Action" />
            </intent-filter>
        </receiver>
        <!--
        Para revisar el estado de la sincronizacion automatica cuando cambia
        el tipo de conexion de red. Ya sea que se apague o encienda el wi-fi, se conecte
        a una red de wi-fi, etc.
        -->
        <receiver
            android:name="com.jasgcorp.ids.system.broadcastreceivers.NetworkReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <activity
            android:name="com.smartbuilders.smartsales.ecommerceandroidapp.CategoriesListActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.smartbuilders.smartsales.ecommerceandroidapp.SubCategoriesListActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.smartbuilders.smartsales.ecommerceandroidapp.ShoppingCartActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.smartbuilders.smartsales.ecommerceandroidapp.CheckoutActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.smartbuilders.smartsales.ecommerceandroidapp.OrdersListActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.smartbuilders.smartsales.ecommerceandroidapp.OrderDetailActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.smartbuilders.smartsales.ecommerceandroidapp.InvoicesListActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.smartbuilders.smartsales.ecommerceandroidapp.InvoiceDetailActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.smartbuilders.smartsales.ecommerceandroidapp.WishListActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.smartbuilders.smartsales.ecommerceandroidapp.StatementOfAccountActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.smartbuilders.smartsales.ecommerceandroidapp.SearchResultsActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.smartbuilders.smartsales.ecommerceandroidapp.FilterOptionsActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.smartbuilders.smartsales.ecommerceandroidapp.BrandsListActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.smartbuilders.smartsales.ecommerceandroidapp.ShoppingSaleActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.smartbuilders.smartsales.ecommerceandroidapp.SalesOrderDetailActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.smartbuilders.smartsales.ecommerceandroidapp.SalesOrdersListActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.smartbuilders.smartsales.ecommerceandroidapp.SettingsActivity"
            android:label="@string/title_activity_settings" />
        <activity
            android:name="com.smartbuilders.smartsales.ecommerceandroidapp.ZoomImageActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
    </application>

</manifest>