<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.smartbuilders.smartsales.ecommerce.febeca"
    android:installLocation="auto" >

    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />

    <!-- used by GCM -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <permission
        android:name="com.smartbuilders.smartsales.ecommerce.febeca.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.smartbuilders.smartsales.ecommerce.febeca.permission.C2D_MESSAGE" />
    <!-- used by GCM -->

    <application
        android:name="android.support.multidex.MultiDexApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name="com.smartbuilders.smartsales.ecommerce.SplashScreen"
            android:theme="@style/SplashTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- GCM -->
        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="com.smartbuilders.smartsales.ecommerce.febeca" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
